In [5]:
name=input("enter the name:")
age=int(input("enter the age:"))
if age>=18:
        print(name)
        print(age)
        print("you are elegible")
else:
    print(name)
    print("you are not elegible")

enter the name: sam
enter the age: 21

sam
21
you are elegible

In [12]:
max=45
slots=int(input("enter the number of slotes required"))
if slots<=max:
    print("slots are booked")
    max=max-slots
    print(max)
else:
    print("no slots are there")

enter the number of slotes required 45

slots are booked
0

In [10]:
a=int(input())
b=int(input())
c=int(input())
if a>b:
    if a>c:
        print("a is greter")
    else:
        print("c is greter")

else:
    if b>c:
        print("b is greter")
    else:
        print("c is greter")

 2
 4
 7

c is greter

In [19]:
marks=int(input("enter the marks"))
if marks>90 and marks<=100:
    print("grade A+")
elif marks>80 and marks<=90:
       print("grade A")

elif marks>70 and marks<=80:
        print("grade B+")

elif marks>60 and marks<=70:
        print("grade B")

elif marks>50 and marks<=60:
        print("grade c")
elif marks>40 and marks<=50:
        print("grade D")
elif marks>30 and marks<=40:
        print("grade E")

elif marks>20 and marks<=30:
        print("grade F")
else:
  print("invalid -----")

enter the marks 111

invalid -----

In [22]:
DAY=int(input("enter the day number:"))
match DAY:
    case 1:print("sunday")
    case 2:print("MONDAY")
    case 3:print("TUESDAY")
    case 4:print("WEDNESDAY")
    case 5:print("THURSDAY")
    case 6:print("FRIDAY")
    case 7:print("SATURDAY")
    case _:print("invalid------------")

enter the day number: 4

WEDNESDAY

In [ ]:
AGE=int(input("enter the age:")
match AGE:
    case _ if AGE>0 and AGE<=5
            print("baby"

In [36]:
for x in range(0,10):
     print(x)

while x<10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
9

In [5]:
for x in range(0,1):
    print(" *"*(x+1))

 *

In [3]:
for y in range(0,5):
    for x in range(0,y-1):
        print("*",end="")
    print()

*
**
***

In [22]:
a=0
b=1
n=int(input("enter the number :"))
print(a,b,end=" ")
for i in range(0,n):
    c=a+b
    a=b
    b=c
    print(c,"",end="")

enter the number : 6

0 1 1 2 3 5 8 13

In [23]:
def fun(a,b):
    c=a+b
    return c

a=int(input())
b=int(input())
fun(a,b)

 2
 3

5

In [1]:
n=int(input())
m=n
r=0
while n>0:
    rem=n%10
    r=r*10+rem
    n=n/10
print(r)

 54

inf