In [1]:
print("hello")

hello

In [4]:
a=4
b=1.2
c='d'
print(type(a))
print(type(b))
print(type(c))
print(a+b)
print(c+b)

<class 'int'>
<class 'float'>
<class 'str'>
5.2

TypeError: can only concatenate str (not "float") to str

In [3]:


a=10
print(a)
print(type(a))

a=10.9
print(a)
print(type(a))


a=[10]
print(a)
print(type(a))

a=(10,9)
print(a)
print(type(a))

a=range(10,9)
print(a)
print(type(a))

a={1:"aa",2:"bb"}
print(a)
print(type(a))

10
<class 'int'>
10.9
<class 'float'>
[10]
<class 'list'>
(10, 9)
<class 'tuple'>
range(10, 9)
<class 'range'>
{1: 'aa', 2: 'bb'}
<class 'dict'>

In [13]:
a=b=c=d=10
print(a)
print(b)
print(c)

a,b,c={10,11,77}
print(a)
print(b)
print(c)

a,b,c=10,77,88
print(a)
print(b)
print(c)

10
10
10
10
11
77
10
77
88

In [8]:
a="hiudfoai"
b="fh0wyn"
print(a,b)
print(a+b+"idhmhuhfa")

hiudfoai fh0wyn
hiudfoaifh0wynidhmhuhfa

In [14]:
a=input()
print(a)
print(type(a))

 22

22
<class 'str'>

In [17]:
a=input()
b=input()
c=int(a)+int(b)
print(c)
print(type(c))

 5
 7

12
<class 'int'>

In [18]:
a=input("enter the first name:")
b=input("enter the last name:")
c=a+b
print(c)

enter the first name: samarth
enter the last name: kadli

samarthkadli

In [19]:
a=int(input("enter the first name:"))
b=int(input("enter the last name:"))
c=a+b
print(c)

enter the first name: 3
enter the last name: 5

8

In [30]:
a,b,c=input("enter the first name:").split()
d=int(a+b+c)
print(d)

enter the first name: 4 5 6

456

In [25]:
a,b,c=input("enter the first name:").split()
d=int(a)-int(b)-int(c)
print(d)

enter the first name: 4 5 6

-7

In [26]:
a,b,c=input("enter the first name:").split()
d=int(a)*int(b)*int(c)
print(d)

enter the first name: 4 5 6

120

In [27]:
a,b,c=input("enter the first name:").split()
d=int(a)+int(b)+int(c)
print(d)

enter the first name: 4 5 6

15

In [32]:
a,b,c=input("enter the first name:").split()
d=int(a)+int(c)
print(d)

enter the first name: 4 5 6

10